.title {
    padding-top: 3.5%; 
    padding-bottom: 2.5%; 
  }
.sub-title {
    padding-left:2%
}
.dashboardItem{
  width:80%;
  height:70%;
  border: none;
}
.dashboardItemRow{
  height:10rem;
}
.marginTop{
  padding-top: 3%;
}
.primaryButton{
  background-color:#007074;
  color:white;
  padding: 6px 12px 6px 12px;
  border: none;
}
.secondaryButton{
  background-color: #5C6767;
  color:white;
  padding: 6px 12px 6px 12px;
  border: none;
}
.supervisorCard{
  background-color: #F0EFFF;
  padding: 20px;
  margin-left: 5%;
  margin-top: 2%;
}
.projectIdeaButton{
  float:right;
  margin-top: 5px;
}
.profileButton{
  background-color:#007074;
  color:white;
  font-size: 1.5rem;
  padding: 12px 22px 12px 22px;
  border: none;
  border-radius: 30px;
}
.profileIconArea{
  margin-top:4%;
}
.profileRow{
  margin-top: 1.2%;
}
.skillInput{
  margin-left: 10px;
}
.tag{
  background-color: #FFDCDC;
  color:black;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.projectCardContainer{
  margin-left:5%;
  display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 6%;
}
.projectCards{
  margin-top: 4%;
  background-color: #F0EFFF;
  padding: 15px 10px 15px 25px;
}
.skillTagProfileArea{
  margin-top: 2%;
}
.profileNewTagArea{
  margin-left: 1px;
  margin-top: 1%;
}
.purpleBackground{
  background-color: #A8A5E1;
}
.pinkBackground{
  background-color: #FBCFF9;
}
.blueBackground{
  background-color: #96D3D7;
}
.greenBackground{
  background-color: #74DC97;
}
.yellowBackground{
  background-color: #F0EFCE;
}

.orangeBackground{
  background-color: #DCB274;
}
.logoButton{
  border: none;
  margin-top: 20%;
  background-color: white;
}
.filterIcon{
  border: none;
  width:10px;
  height:10px;
  background-color: white;
}
.largeMarginTop{
  margin-top: 5%;
}
.marginBottom{
  margin-bottom: 3%;
}